@mixin header {
  .hdr {
    width: 100%;
    z-index: map-get($map: $z-index, $key: header);
    position: fixed;
    top: 0;
    transition: top 0.3s;
    background-color: color(white);
  }
  .freezed {
    overflow: hidden;
  }
}

@mixin header-PC {
}
@mixin header-PC-Tablet {
  .hdr-container {
    padding: 1vw 7.8vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .logo {
    width: 15%;
    img {
      max-width: 11.7vw;
    }
  }
  .nav-section {
    margin-left: 8.5%;
    .nav-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-group {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1.4vw;
      position: relative;
      .nav-item-list {
        position: absolute;
        top: 100%;
        left: 0;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: auto;
        grid-auto-flow: dense column;
        background: color(white);
        max-height: 0;
        overflow: hidden;
        box-shadow: 0 5px 10px color(opacity-1);
        transition: all 0.2s;
        .nav-item {
          padding: 0.5vw 2vw;
          text-align: left;
          white-space: nowrap;
          color: color(dark-gray);
          &:hover,
          &:active,
          &:focus,
          &.active {
            color: color(red);
          }
          &::before {
            content: ">";
            padding-right: 5px;
          }
        }
      }
      &:hover {
        .nav-item-list {
          grid-template-rows: repeat(auto-fit, minmax(35px, 1fr));
          max-height: 10vw;
          padding: 1vw 0;
          transition: all 0.2s;
        }
      }
    }
    .nav-topic {
      color: color(dark-gray);
      font-size: 1.3vw;
      font-weight: 400;
      padding: 12px 0;
      &:hover,
      &:active,
      &:focus,
      &.active {
        padding: 12px 0 9px 0;
        a {
          color: color(red);
        }
        border-bottom: 3px solid color(red);
      }
      .icon-plus,
      .icon-minus {
        display: none !important;
      }
    }
  }
  .feature-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2.3%;
    .feature-item {
      color: color(dark-gray);
      font-size: 1.25vw;
      font-weight: 400;
      padding: 0 1.4vw;
      &:hover,
      &:active,
      &:focus,
      &.active {
        color: color(dusty-gray);
      }
      &:first-child {
        border-right: 1px solid color(dark-gray);
      }
    }
  }
  .btn-search {
    img {
      width: 1.25vw;
    }
  }
  .hdr-sel-lang {
    border: 0px;
    outline: 0px;
    text-align-last: center;
    position: relative;
    & a[aria-expanded="false"] {
      + .sel-lang-option-list {
        transition: all 0.3s;
        max-height: 0px;
        padding: 0;
      }
    }
    .sel-lang-option-list {
      overflow: hidden;
      background-color: color(white);
      transition: max-height 0.3s;
      max-height: 500px;
      position: absolute;
      top: 100%;
      right: 0;
      padding: 2vw 0 0 0;
      .sel-lang-option {
        color: color(dark-gray);
        padding: 1vw 1.4vw;
        width: 200px;
        display: flex;
        justify-content: flex-end;
        a {
          &:hover,
          &:active,
          &:focus,
          &.active {
            color: color(dusty-gray);
          }
        }
      }

      .lang-txt {
        white-space: nowrap;
      }
    }
    .dropdown-backdrop {
      z-index: z-index(default);
    }
  }
  .btn-contact-us {
    position: fixed;
    top: 0;
    right: 8vw;
    color: color(white);
    font-size: 1.15vw;
    padding: 0.55vw 0.8vw;
    font-weight: 300;
    text-align: center;
    background-color: color(orange);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px color(dark-gray);
    &:hover,
    &:active,
    &:focus,
    &.active {
      color: color(gray);
    }
  }
  .btn-menu-close {
    display: none;
  }
}
@mixin header-Tablet {
}
@mixin header-Tablet-Mobile {
}
@mixin header-Mobile {
  .hdr-container {
    position: relative;
    height: $header-height-mobile;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vmin;
  }
  .logo {
    img {
      max-width: 146px;
    }
  }

  .feature-list {
    display: flex;
    align-items: center;
    .feature-item {
      color: color(dark-gray);
      font-size: 24px;
      font-weight: 400;
      padding: 0 2vmin;
      &:hover,
      &:active,
      &:focus,
      &.active {
        color: color(gray);
      }
      img {
        height: 22px;
      }
    }
  }
  .hdr-sel-lang {
    position: relative;
    & a[aria-expanded="false"] {
      + .sel-lang-option-list {
        transition: max-height 0.3s;
        max-height: 0px;
      }
    }
    .sel-lang-option-list {
      z-index: z-index(select);
      overflow: hidden;
      background-color: color(white);
      transition: max-height 0.3s;
      max-height: 500px;
      position: absolute;
      top: 100%;
      right: 2vmin;
      margin-top: 10px;
      .sel-lang-option {
        color: color(dark-gray);
        text-align: right;
        padding: 20px 10px 10px 10px;
        padding-top: 20px;
        padding-bottom: 10px;
      }
      .lang-txt {
        white-space: nowrap;
      }
    }
  }

  .menu {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 18px;
    top: 0;
    right: 1px;
    height: $header-height-mobile;
    transition: transform 0.3s;
    img {
      height: 35px;
    }
    &.active {
      transform: rotate(90deg);
    }
  }
  .nav-section {
    position: fixed;
    overflow: hidden;
    top: $header-height-mobile;
    right: 0;
    width: 100%;
    height: 0;
    background-color: color(suger-cane);
    transition: all 0.3s;
    &.active {
      height: 100%;
      .nav-container {
        display: block;
      }
    }
  }
  .nav-container {
    max-height: 100vh;
    overflow-y: auto;
    display: none;
    padding: 10px 60px 10px 20px;
  }
  .nav-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    .nav-group {
      width: 100%;
      padding: 5% 0 5% 2.5%;
      color: color(dark-gray);
      border-top: color(nobel) solid 1px;
      &:last-child {
        border-bottom: color(nobel) solid 1px;
      }
    }
    .nav-topic {
      font-size: 5vw;
      font-weight: 600;
      display: flex;
      justify-content: space-between;

      .icon-minus {
        display: none !important;
        width: 16px;
      }
      .icon-minus {
        width: 16px;
      }
      &[data-expanded="true"] {
        .icon-plus {
          display: none !important;
        }
        .icon-minus {
          display: inline !important;
        }
      }
    }
    .nav-item-list {
      .nav-item {
        font-size: 4vw;
        padding: 10px 0 0 10px;
        display: block;
        &:hover,
        &:active,
        &:focus,
        &.active {
          color: color(red);
        }
        &::before {
          content: ">";
          padding-right: 5px;
        }
      }
    }
  }
  .btn-contact-us-box {
    position: fixed;
    top: 77px;
    left: 90%;
    .btn-contact-us {
      color: color(white);
      font-size: 4vw;
      letter-spacing: 1px;
      padding: 2.5vw 4vw 2.5vw 2vw;
      font-weight: 100;
      text-align: center;
      background-color: color(orange);
      border-radius: 10px 0 0 10px;
      writing-mode: vertical-rl;
      box-shadow: 0 0 10px color(dark-gray);
      &:hover,
      &:active,
      &:focus,
      &.active {
        color: color(gray);
      }
    }
  }
  .btn-menu-close {
    padding: 10px 0;
    width: 20px;
  }
}
