@mixin index {
}
@mixin index-PC {
}
@mixin index-PC-Tablet {
}
@mixin index-Tablet {
}
@mixin index-Tablet-Mobile {
}
@mixin index-Mobile {
  .idah-container {
    position: relative;
    width: 100%;
    height: auto;
  }
}
