@mixin index {
}
@mixin index-PC {
  .cool-container {
    max-width: $container;
    margin: 0 auto;
  }
}
@mixin index-PC-Tablet {
}
@mixin index-Tablet {
  .cool-container {
    max-width: $container;
    margin: 0 auto;
  }
}
@mixin index-Tablet-Mobile {
}
@mixin index-Mobile {
  .cool-container {
    margin: 0 auto;
  }
}
