@each $key, $value in $rwd-breakpoint {
  @if $key == "all" {
    .D\(n\) {
      display: none;
    }
    .D\(b\) {
      display: block;
    }
    .img\(m\) {
      &:after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0) 30%
        );
      }
    }
  } @else {
    @include response($value) {
      .D\(n\,#{$key}\) {
        display: none;
      }
      .D\(b\,#{$key}\) {
        display: block;
      }
      .img\(m\,#{$key}\) {
        &:after {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0) 30%
          );
        }
      }
    }
  }
}
