button {
  width: 75px;
  border: none;
  transition: background-color 0.3s;
  &.btn-gray {
    color: map-get($map: $color, $key: white);
    background-color: map-get($map: $color, $key: gray);
    &:hover {
      background-color: map-get($map: $color, $key: dark-gray);
    }
  }
}

select {
  width: 150px;
}

input {
  width: 150px;
}
