body,
h1,
h3,
a,
p,
form {
  margin: 0;
  color: inherit;
}

body {
  line-height: 1;
}
* {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}
button {
  border: none;
  background-color: rgb(0, 0, 0, 0);
}
