body,
h1,
h3,
a,
p,
form,
ul,
li,
button {
  margin: 0;
  color: inherit;
  padding: 0;
  border: 0;
}
ol,
ul {
  list-style: none;
}
body {
  line-height: 1;
}
* {
  box-sizing: border-box;
  font-family: "Myriad Pro", sans-serif;
}
button {
  border: none;
  background-color: rgb(0, 0, 0, 0);
}
