$desktop-min-width: 1366px;
$tablet-min-width: 767px;

$header-height-pc: 130px;
$header-height-mobile: 70px;
$footer-height-pc: 140px;
$footer-height-mobile: 50px;
$container: 1200px;

$rwd-breakpoint: (
  all: "all",
  p: PC,
  pt: PC-Tablet,
  t: Tablet,
  tm: Tablet-Mobile,
  m: Mobile,
);

$color-gdt: (
  dark-gray-gdt: linear-gradient(-90deg, #919191, #c1c3c4),
);

$color: (
  opacity-0: rgba(0, 0, 0, 0),
  opacity-5: rgba(0, 0, 0, 0.3),
  news: #b1b3b6,
  fashion: #002bc1,
  fittness: #ff8200,
  tech: #0082c3,
  aesthetic: #00afaf,
  expert: #002bc1,
  gender: #ff82a0,
  gray: #eaeaea,
  dark-gray: #999a9a,
  white: #fff,
  black: #000,
);

$z-index: (
  header: 3,
  mask: 1,
);
