$desktop-min-width: 1366px;
$tablet-min-width: 767px;

// $header-hegiht-pc: 0px;
$header-hegiht-mobile: 70px;
$header-footer-pc: 140px;
$header-footer-mobile: 100px;
$container: 1200px;

$color-gdt: (
  dark-gray-gdt: linear-gradient(-90deg, #919191, #c1c3c4),
);

$color: (
  opacity-0: rgba(0,0,0,0),
  news: #B1B3B6,
  fashion: #002BC1,
  fittness: #FF8200,
  tech: #0081C1,
  aesthetic: #FF82A2,
  gray: #EAEAEA,
  dark-gray: #999A9A,
);
