/* RWD */
$desktop-min-width: 1366px;
$tablet-min-width: 767px;

/* boostap - RWD */
$boostrap-desktop-min-width: 992px;
$boostrap-tablet-min-width: 767px;

$header-height-pc: 5.6vw;
$header-height-mobile: 50px;
$footer-height-pc: 140px;
$footer-height-mobile: 50px;
$container: 1200px;

$rwd-breakpoint: (
  all: "all",
  pc: PC,
  pc-tablet: PC-Tablet,
  tablet: Tablet,
  tablet-mobile: Tablet-Mobile,
  mobile: Mobile,
);

$color-gdt: (
  dark-gray-gdt: linear-gradient(-90deg, #919191, #c1c3c4),
);

$color: (
  opacity-0: rgba(0, 0, 0, 0),
  opacity-3: rgba(0, 0, 0, 0.3),
  opacity-75: rgba(0, 0, 0, 0.75),
  opacity-w-15: rgba(255, 255, 255, 0.15),
  gray: #eaeaea,
  athens-gray: #ececee,
  iron: #dcdddf,
  suger-cane: #e9e9e7,
  french-gray: #bebfc2,
  nobel: #9f9f9f,
  dark-gray: #57585e,
  thunder: #231f20,
  black: #000,
  orange: #ea5432,
  white: #fff,
);

$z-index: (
  diolog: 5,
  header: 3,
  mask: 1,
);
