@mixin banner {
  .banner-slide-bullets {
    position: absolute;
    display: flex;
  }

  .banner-slide-title {
    position: absolute;
    z-index: 1;
    color: color(white);
  }
  .banner-list {
    .owl-dots {
      position: absolute;
      display: flex;
      .owl-dot {
        &:nth-child(odd) {
          background-image: url("/images/owlcarousel/IDAH-web-07.png");
          &.active {
            background-image: url("/images/owlcarousel/IDAH-web-05.png");
          }
        }
        &:nth-child(even) {
          background-image: url("/images/owlcarousel/IDAH-web-06.png");
          &.active {
            background-image: url("/images/owlcarousel/IDAH-web-05.png");
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

@mixin banner-PC {
}
@mixin banner-PC-Tablet {
  .banner {
    padding-top: $header-height-pc;
  }
  .banner-slide-item {
    img {
      object-fit: cover;
      height: calc(100vh - #{$header-height-pc});
    }
  }
  .banner-slide-title {
    top: 7.8vw;
    left: 17vw;
    font-size: 3.12vw;
    width: 28vw;
    color: color(dark-gray);
  }

  .banner-list {
    .owl-dots {
      left: 55px;
      bottom: 30px;
      .owl-dot {
        width: 18px;
        height: 17px;
        margin: 4px;
      }
    }
  }
}
@mixin banner-Tablet {
}
@mixin banner-Tablet-Mobile {
}
@mixin banner-Mobile {
  .banner {
    padding-top: $header-height-mobile;
  }
  .banner-slide-item {
    height: 66.8vmax;
    img {
      object-fit: cover;
      height: 100%;
    }
  }
  .banner-slide-title {
    top: 7.8vw;
    left: 17vw;
    font-size: 3.12vw;
    width: 28vw;
    color: color(dark-gray);
  }
  .banner-list {
    .owl-dots {
      left: 16px;
      bottom: 24px;
      .owl-dot {
        width: 13px;
        height: 12px;
        background-size: cover;
        margin-right: 5px;
      }
    }
  }
}
