@mixin banner {
  .banner-slide-bullets {
    position: absolute;
    display: flex;
  }

  .banner-slide-title {
    position: absolute;
    z-index: 1;
    color: color(white);
  }
  .banner-list {
    .ms-bullet {
      &:nth-child(odd) {
        background-image: url("../images/owlcarousel/IDAH-web-07.png");
      }
      &:nth-child(even) {
        background-image: url("../images/owlcarousel/IDAH-web-06.png");
      }
    }
    .ms-bullet-selected {
      &:nth-child(odd) {
        background-image: url("../images/owlcarousel/IDAH-web-05.png");
      }
      &:nth-child(even) {
        background-image: url("../images/owlcarousel/IDAH-web-05.png");
        transform: rotate(180deg);
      }
    }
  }
}

@mixin banner-PC {
}
@mixin banner-PC-Tablet {
  .banner {
    padding-top: $header-height-pc;
    height: 100vh;
  }
  .banner-slide-item {
    img {
      height: calc(100vh - #{$header-height-pc});
    }
  }
  .banner-slide-title {
    top: 7.8vw;
    left: 17vw;
    font-size: 3.12vw;
    width: 28vw;
    color: color(dark-gray);
  }

  .banner-list {
    .ms-bullet {
      width: 18px;
      height: 17px;
    }
  }
  .ms-bullets {
    left: 0.4vw !important;
    bottom: 1.8vw !important;
  }
}
@mixin banner-Tablet {
}
@mixin banner-Tablet-Mobile {
}
@mixin banner-Mobile {
  .banner {
    padding-top: $header-height-mobile;
    height: 61vh;
  }
  .banner-slide-item {
    height: 66.8vmax;
    img {
      object-fit: cover;
      height: 100%;
    }
  }
  .banner-slide-title {
    top: 12.8vw;
    left: 10vw;
    font-size: 9vw;
    width: 70vw;
    color: color(dark-gray);
    font-weight: 500;
  }

  .banner-list {
    .ms-bullet {
      width: 13px;
      height: 12px;
      background-size: cover;
      margin: 4px !important;
    }
  }
  .ms-bullets {
    left: -5.6vw !important;
    bottom: 3.8vw !important;
  }
}
