@mixin category {
  .article-desc {
    z-index: 1;
  }
  .category-title {
    z-index: 1;
    &.category-title-fashion {
      background-color: map-get($map: $color, $key: fashion);
    }
    &.category-title-fittness {
      background-color: map-get($map: $color, $key: fittness);
    }
    &.category-title-tech {
      background-color: map-get($map: $color, $key: tech);
    }
    &.category-title-aesthetic {
      background-color: map-get($map: $color, $key: aesthetic);
    }
    &.category-title-expert {
      background-color: map-get($map: $color, $key: expert);
    }
    &.category-title-gender {
      background-color: map-get($map: $color, $key: gender);
    }
  }
}
@mixin category-PC {
  .category-title {
    height: 195px;
    width: 135px;
    .title {
      height: 100%;
      font-size: 40px;
      letter-spacing: 7px;
      margin: 3px 10px;
    }
    .sub-title {
      font-size: 10px;
      letter-spacing: 5px;
    }
  }
  .article-list {
    height: 605px;
  }
  .article-item {
    position: relative;
    .article-img {
      overflow: hidden;
    }
    img {
      object-fit: cover;
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
    &.article-item-large {
      width: 440px;
      img {
        height: 290px;
        width: 100%;
      }
      .article-desc {
        overflow: hidden;
        height: 315px;
        width: 100%;
        border-width: 20px 30px 20px 25px;

        .article-date {
          font-size: 12px;
          font-weight: 500;
          margin-bottom: 13px;
          letter-spacing: 1px;
        }
        .article-title {
          overflow: hidden;
          font-size: 24px;
          line-height: 33px;
          font-weight: 700;
          margin-bottom: 15px;
        }

        .article-content {
          font-size: 12px;
          font-weight: 500;
          line-height: 27px;
          margin-bottom: 13px;
          letter-spacing: 2px;
        }
      }
    }
    &.article-item-small {
      width: 320px;
      img {
        height: 213px;
        width: 100%;
      }

      .article-date {
        display: none;
      }
      .article-desc {
        overflow: hidden;
        height: 77px;
        width: 100%;
        border-width: 15px 20px;
        .article-title {
          font-size: 20px;
          line-height: 25px;
          font-weight: 700;
        }
      }

      .article-content {
        display: none;
      }
    }
  }
  .article-desc {
    border-style: solid;
    border-color: map-get($map: $color, $key: gray);
    background-color: map-get($map: $color, $key: gray);

    .article-date {
      color: map-get($map: $color, $key: black);
    }
    .article-title {
      color: map-get($map: $color, $key: fashion);
    }
    .article-content {
      color: map-get($map: $color, $key: black);
    }
  }

  .ad-banner {
    height: 200px;
    margin-top: 24px;
  }
}
@mixin category-PC-Tablet {
  .category {
    padding: 3.4% 0 5.4% 0;
    position: relative;
  }
  .category-title {
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: map-get($map: $color, $key: white);
    text-align: center;
    .title {
      font-weight: 100;
    }
    .sub-title {
      font-weight: 700;
    }
  }
  .article-container {
    margin: 0 0 0 5.5%;
  }
  .article-list {
    display: flex;
  }

  .article-block {
    &:nth-child(1) {
      margin-right: 2.4%;
    }

    &:nth-child(2) {
      margin-left: 2.4%;
    }
    width: 58.9%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
  }
  .ad-banner {
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

@mixin category-Tablet {
  .category-title {
    height: 14.3vw;
    width: 9.9vw;
    .title {
      height: 100%;
      font-size: 3.05vw;
      letter-spacing: 0.5vw;
      margin: 0.2vw 0.8vw;
    }
    .sub-title {
      font-size: 0.6vw;
      letter-spacing: 0.45vw;
    }
  }

  .article-item {
    position: relative;
    .article-img {
      overflow: hidden;
    }
    img {
      object-fit: cover;
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
    &.article-item-large {
      width: 38.9%;
      img {
        width: 100%;
        height: 21vw;
      }
      .article-desc {
        overflow: hidden;
        height: 23.1vw;
        width: 100%;
        border-width: 1.4vw 1.8vw 2vw 1.8vw;

        .article-date {
          font-size: 0.8vw;
          font-weight: 500;
          margin-bottom: 1vw;
          letter-spacing: 1px;
        }
        .article-title {
          overflow: hidden;
          font-size: 1.7vw;
          line-height: 2.4vw;
          font-weight: 700;
          margin-bottom: 1.2vw;
        }

        .article-content {
          font-size: 0.8vw;
          font-weight: 500;
          line-height: 2.3vw;
          letter-spacing: 2px;
        }
      }
    }
    &.article-item-small {
      width: 48.1%;
      img {
        width: 100%;
        height: 15.4vw;
      }

      .article-date {
        display: none;
      }

      .article-desc {
        overflow: hidden;
        height: 5.6vw;
        width: 100%;
        border-width: 1vw 1.5vw;
        .article-title {
          font-size: 1.47vw;
          line-height: 1.9vw;
          font-weight: 700;
        }
      }

      .article-content {
        display: none;
      }
    }
  }
  .article-desc {
    border-style: solid;
    border-color: map-get($map: $color, $key: gray);
    background-color: map-get($map: $color, $key: gray);

    .article-date {
      color: map-get($map: $color, $key: black);
    }
    .article-title {
      color: map-get($map: $color, $key: fashion);
    }
    .article-content {
      color: map-get($map: $color, $key: black);
    }
  }

  .ad-banner {
    height: 14.8vmax;
    margin-top: 2.1%;
  }
}
@mixin category-Tablet-Mobile {
}

@mixin category-Mobile {
  .category {
    position: relative;
    margin-top: 95px;
    background-color: map-get($map: $color, $key: gray);
  }
  .category-title-container {
    position: absolute;
    top: -38px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .category-title {
    width: 166px;
    height: 75px;
    color: map-get($map: $color, $key: white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.category-title-fashion {
      background-color: map-get($map: $color, $key: fashion);
    }
    .title {
      font-size: 28px;
      letter-spacing: 6px;
      font-weight: 100;
      margin-bottom: 10px;
    }
    .sub-title {
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 4px;
    }
  }
  .article-list {
    padding-top: 51px;
  }
  .article-item {
    display: flex;
    margin-bottom: 18px;
    width: 100%;
    height: 33.4vw;
    .article-img {
      width: 50%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .article-desc {
      width: 50%;
      border-width: 5vmin 5vmin 5vmin 4.6vmin;
      border-style: solid;
      border-color: map-get($map: $color, $key: white);
      background-color: map-get($map: $color, $key: white);
      overflow: hidden;
      .article-date {
        font-size: 3.2vmin;
        font-weight: 500;
        margin-bottom: 1.8vmin;
      }
      .article-title {
        font-size: 4.4vmin;
        line-height: 6.2vmin;
        font-weight: 500;
      }
    }
  }
  .ad-banner {
    height: 15.4vmax;
    margin-top: 2.1%;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  .btn-more {
    width: 100%;
    text-align: center;
    a {
      display: inline-block;
      margin: 11px 0;
      font-size: 18px;
      letter-spacing: 1px;
      padding: 8px;
      border-radius: 5px;
      border: 1px solid map-get($map: $color, $key: black);
    }
  }
}
