@mixin contact {
}
@mixin contact-PC {
}
@mixin contact-PC-Tablet {
  .contact {
    background: color(iron);
  }
  .contact-container {
    margin: 0 16.3vw;
    padding: 2.3vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contact-title {
    width: 17.4vw;
    color: color(dark-gray);
    font-size: 1.4vw;
    font-weight: 600;
    line-height: 1.4vw;
  }
  .contact-desc {
    width: 34.2vw;
    color: color(dark-gray);
    border-left: 2px solid color(dark-gray);
    font-size: 1.13vw;
    line-height: 1.5vw;
    padding: 0.3vw 0 0.3vw 1.5vw;
  }
  .contact-phone,
  .contact-email {
    color: color(orange);
    border-bottom: 1px solid color(orange);
    &:hover {
      color: color(orange);
    }
  }

  .contact-btn {
    font-size: 1vw;
    letter-spacing: 1px;
    background: color(orange);
    font-weight: 300;
    padding: 0.8vw 1.7vw;
    color: color(white);
  }
}
@mixin contact-Tablet {
}
@mixin contact-Tablet-Mobile {
}
@mixin contact-Mobile {
  .contact {
    background: color(iron);
  }
  .contact-container {
    margin: 0 8vw;
    padding: 9.3vw 0 10.6vw 0;
    display: flex;
    flex-direction: column;
  }
  .contact-title {
    padding: 0 12vw 4.6vw 0;
    color: color(dark-gray);
    font-size: 5.8vw;
    line-height: 6.6vw;
    font-weight: 600;
  }
  .contact-desc {
    color: color(dark-gray);
    font-size: 4.8vw;
    line-height: 6vw;
    font-weight: 400;
    padding: 0 0 11vw 0;
  }
  .contact-phone,
  .contact-email {
    color: color(orange);
    border-bottom: 1px solid color(orange);
    &:hover {
      color: color(orange);
    }
  }

  .contact-btn {
    align-self: center;
    font-size: 5vw;
    letter-spacing: 1px;
    background: color(orange);
    font-weight: 300;
    padding: 3.1vw 5.3vw;
    color: color(white);
  }
}
