@mixin expert {
}
@mixin expert-PC {
}
@mixin expert-PC-Tablet {
  .expert {
  }
  .expert-img {
    padding-bottom: 92px;
  }
  .expert-info {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 322px;
    height: 92px;
    background-color: map-get($map: $color, $key: expert);
  }
}
@mixin expert-Tablet {
}
@mixin expert-Tablet-Mobile {
}
@mixin expert-Mobile {
}
