@mixin intro {
  .intro {
    margin: 0 16.3vw;
  }
}
@mixin intro-PC {
}
@mixin intro-PC-Tablet {
  .intro {
    margin: 0 10vw;
    padding: 2.91vw 0 3.8vw 0;
    text-align: center;
    color: color(dark-gray);
    border-bottom: 1px solid color(dark-gray);
  }
  .intro-title {
    padding: 1vw 4.6vw;
    font-size: 46px;
    line-height: 50px;
    font-weight: 600;
    padding-bottom: 1vw;
    font-style: italic;
    margin-bottom: 30px;
  }
  html[lang="zh-hant-TW"] .intro-title,
  html[lang="zh-hans-CN"] .intro-title {
    font-size: 40px;
    line-height: 52px;
  }
  .intro-sub-title {
    font-size: 24px;
    line-height: 20px;
    font-weight: 600;
    padding-bottom: 1vw;
  }
  .intro-article {
    padding: 0 7vw;
  }
  .intro-section {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    padding-top: 1vw;
  }

  html[lang="zh-hant-TW"] .intro-section,
  html[lang="zh-hans-CN"] .intro-section {
    line-height: 24px;
  }
}
@mixin intro-Tablet {
}
@mixin intro-Tablet-Mobile {
}
@mixin intro-Mobile {
  .intro {
    padding: 9vw 0 0 0;
    text-align: center;
    color: color(dark-gray);
    margin: 0 2vw;
  }
  .intro-title {
    padding: 0 4.6vw;
    font-weight: 600;
    font-style: italic;
    padding-bottom: 3vw;
  }

  html[lang="zh-hant-TW"] .intro-title,
  html[lang="zh-hans-CN"] .intro-title {
    line-height: 38px;
  }

  .intro-sub-title {
    font-weight: 600;
    padding: 0 1.8vw;
    padding-bottom: 1.5vw;
  }
  .intro-article {
    margin: 0 7vw 0 7vw;
    padding-bottom: 12vw;
    border-bottom: 1px solid color(dark-gray);
  }
  .intro-section {
    font-weight: 400;
    padding-top: 3.5vw;
  }
}
