@mixin news {
  .news {
    box-shadow: initial;
    article {
      border-bottom: initial;
    }
  }
}
@mixin news-PC {
  .new-article {
    .news-article-title {
      font-size: 35px;
      line-height: 37px;
    }
    .news-article-abstract {
      font-size: 14px;
      line-height: 21px;
    }
  }
  .new-img {
    img {
      height: 100%;
      width: 440px !important;
    }
  }
  .new-list {
    height: 285px;
  }
  .news-item {
    height: 285px;
  }
}
@mixin news-PC-Tablet {
  .news {
    margin: 5.6% 0 9.1% 5.5%;
  }
  .news-container {
    display: flex;
    width: 100%;
  }
  .news-title {
    color: map-get($map: $color, $key: fashion);
    h1 {
      font-size: 30px;
      letter-spacing: 4px;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 12px;
      font-weight: 900;
      letter-spacing: 4px;
      margin-bottom: 30px;
    }
  }
  .new-img {
    img {
      height: 100%;
      max-width: 440px !important;
    }
  }
  .news {
    article {
      margin-left: 2.4%;
    }
  }
  .news-item {
    display: flex;
  }
  .new-article {
    width: 670px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .news-article-date {
      font-size: 10px;
      letter-spacing: 1px;
      color: map-get($map: $color, $key: fashion);
    }
    .news-article-title {
      font-weight: 700;
      color: map-get($map: $color, $key: fashion);
    }
    .news-article-abstract {
      overflow: hidden;
      max-width: 72%;
      max-height: 33%;
      color: map-get($map: $color, $key: dark-gray);
    }
    .news-article-btn {
      width: 60px !important;
    }
  }

  .news-list {
    .owl-dots {
      position: absolute;
      left: 0;
      bottom: -30px;
      display: flex;
      .owl-dot {
        width: 10px;
        height: 10px;
        margin-right: 6px;
        border-radius: 50%;
        background-color: map-get($map: $color, $key: dark-gray);
        &.active {
          background-color: map-get($map: $color, $key: fashion);
        }
      }
    }
  }
}
@mixin news-Tablet {
  .new-article {
    .news-article-title {
      font-size: 2.62vmax;
      line-height: 2.8vmax;
    }
    .news-article-abstract {
      font-size: 1vmax;
      line-height: 1.55vmax;
    }
  }
  .new-list {
    height: 21.1vmax;
  }
  .news-item {
    height: 21.1vmax;
    display: flex;
  }
}

@mixin news-Tablet-Mobile {
}
@mixin news-Mobile {
  .news {
    margin: 0;
    article {
      margin: initial;
    }
  }
  .news-title {
    color: map-get($map: $color, $key: fashion);
    text-align: center;
    margin: 35px 0;
    h1 {
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 4px;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 4px;
      margin-bottom: 30px;
    }
  }
  .news {
    article {
      max-width: 280px;
      margin: 35px auto 0 auto;
    }
  }
  .new-img {
    img {
      margin: 0 auto;
      height: 255px;
      max-width: 280px !important;
    }
  }
  .new-article {
    .news-article-date {
      font-size: 10px;
      letter-spacing: 1px;
      color: map-get($map: $color, $key: fashion);
      margin-bottom: 25px;
    }
    .news-article-title {
      font-size: 25px;
      font-weight: 700;
      line-height: 30px;
      color: map-get($map: $color, $key: fashion);
      margin-bottom: 25px;
    }
    .news-article-abstract {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 1px;
      margin-bottom: 25px;
      color: map-get($map: $color, $key: dark-gray);
    }
    .news-article-btn {
      width: 90px !important;
    }
  }
}
