@mixin news {
  .news {
    margin: 0;
    box-shadow: initial;
    article {
      margin: initial;
      border-bottom: initial;
    }
  }
}
@mixin news-PC {
}
@mixin news-PC-Tablet {
  .news {
    margin: 5.6% 0 9.1% 5.5%;
  }
  .news-title {
    color: map-get($map: $color, $key: fashion);
    h1 {
      font-size: 30px;
      letter-spacing: 4px;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 12px;
      font-weight: 900;
      letter-spacing: 4px;
      margin-bottom: 30px;
    }
  }
  .news-container {
    display: flex;
    width: 100%;
  }
  .new-slider {
    position: relative;
    width: 39%;
  }

  .news {
    article {
      margin-left: 2.1%;
    }
  }

  .new-article {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .news-article-date {
      font-size: 10px;
      letter-spacing: 1px;
      color: map-get($map: $color, $key: fashion);
    }
    .news-article-title {
      font-size: 1.82vmax;
      font-weight: 700;
      line-height: 2vmax;
      color: map-get($map: $color, $key: fashion);
    }
    .news-article-abstract {
      overflow: hidden;
      max-width: 72%;
      max-height: 33%;
      font-size: 0.71vmax;
      line-height: 1.2vmax;
      color: map-get($map: $color, $key: dark-gray);
    }
    .news-article-btn {
      width: 60px;
    }
  }

  .news-slide-bullets {
    position: absolute;
    left: 0;
    bottom: -30px;
    display: flex;
    .slide-bullet {
      width: 10px;
      height: 10px;
      margin-right: 6px;
      background-color: map-get($map: $color, $key: dark-gray);
      &.active {
        background-color: map-get($map: $color, $key: fashion);
      }
    }
  }
}
@mixin news-Tablet {
}

@mixin news-Tablet-Mobile {
}
@mixin news-Mobile {
  .news-title {
    color: map-get($map: $color, $key: fashion);
    text-align: center;
    margin: 35px 0;
    h1 {
      font-size: 30px;
      font-weight: 300;
      letter-spacing: 4px;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 4px;
      margin-bottom: 30px;
    }
  }
  .news {
    article {
      max-width: 280px;
      margin: 35px auto 0 auto;
    }
  }
  .new-article {
    .news-article-date {
      font-size: 10px;
      letter-spacing: 1px;
      color: map-get($map: $color, $key: fashion);
      margin-bottom: 25px;
    }
    .news-article-title {
      font-size: 25px;
      font-weight: 700;
      line-height: 30px;
      color: map-get($map: $color, $key: fashion);
      margin-bottom: 25px;
    }
    .news-article-abstract {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 1px;
      margin-bottom: 25px;
      color: map-get($map: $color, $key: dark-gray);
    }
    .news-article-btn {
      width: 90px;
    }
  }
}
