@mixin other-boostrap-small-Mobile {
  header.hdr {
    padding-top: 10px;
  }

  html[lang="zh-Hant-TW"] .feature-item.hdr-sel-lang a,
  html[lang="zh-Hans-CN"] .feature-item.hdr-sel-lang a {
    font-size: 16px;
  }

  .product-list .product-item .product-item-display .product-category {
    padding: 2px;
  }

  .product-list .product-item .product-item-hover .product-info .product-intro {
    font-size: 5vw;
    line-height: normal;
  }
  .product-list .product-item .product-item-hover .product-info .product-desc {
    line-height: normal;
  }

  .intro-section {
    font-size: 4vw;
    line-height: normal;
  }

  .nav-list .nav-topic img {
    width: 16px;
    height: 18px;
  }

  .nav-list .nav-topic a,
  .ftr-link-list .ftr-link-topic {
    font-weight: 600;
    font-size: 6vw;
  }

  .nav-list .nav-item-list .nav-item,
  .ftr-link-list .ftr-link-item-list .ftr-link-item {
    font-size: 5vw;
  }

  .ftr-info .ftr-info-container .ftr-socail-list i {
    font-size: 8.2vw;
    padding: 0 2.6vw;
  }
}
