@mixin other {
  /* 子標題 */
  .product-title,
  .solution-title,
  .service-title-container .service-title,
  .idah-news-title {
    font-size: 40px;
    font-weight: 600;
  }
}
@mixin other-PC {
}
@mixin other-PC-Tablet {
  .product-title,
  .solution-title,
  .service-title-container .service-title,
  .idah-news-title {
    font-size: 32px;
  }
}
@mixin other-Tablet {
}
@mixin other-Tablet-Mobile {
}
@mixin other-Mobile {
}
@mixin other-boostrap-small-Mobile {
  html[lang="zh-Hant-TW"] .feature-item.hdr-sel-lang a,
  html[lang="zh-Hans-CN"] .feature-item.hdr-sel-lang a {
    font-size: 16px;
  }

  .intro {
    padding: 20px;
  }

  .intro-title {
    padding: 5px;
    font-size: 30px;
    margin-bottom: 10px;
  }

  .intro-sub-title {
    font-size: 20px;
  }

  html[lang="zh-hant-TW"] .intro-sub-title,
  html[lang="zh-hans-CN"] .intro-sub-title {
    line-height: 28px;
  }

  .intro-article {
    margin: 0 1vw;
  }

  .product-list .product-item .product-item-display .product-category {
    padding: 2px;
    font-size: 14px;
  }

  .product-list .product-item .product-item-hover .product-info .product-intro {
    line-height: normal;
  }
  .product-list .product-item .product-item-hover .product-info .product-desc {
    line-height: normal;
  }

  .intro-section {
    font-size: 16px;
    line-height: 20px;
  }

  html[lang="zh-hant-TW"] .intro-section,
  html[lang="zh-hans-CN"] .intro-section {
    line-height: 24px;
  }

  .nav-list .nav-topic img {
    width: 16px;
    height: 18px;
  }

  .nav-list .nav-topic a {
    color: color(dark-gray);
  }

  .nav-list .nav-topic a,
  .ftr-link-list .ftr-link-topic {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .nav-list .nav-item-list .nav-item,
  .ftr-link-list .ftr-link-item-list .ftr-link-item {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .ftr-info .ftr-info-container .ftr-socail-list i {
    font-size: 8.2vw;
    padding: 0 2.6vw;
  }

  .idah-news-item .idah-news-article {
    order: 1;
  }

  .product-title,
  .solution-title,
  .service-title-container .service-title,
  .idah-news-title {
    margin-bottom: 20px;
  }
}
