@mixin product {
}
@mixin product-PC {
}
@mixin product-PC-Tablet {
  .product {
    margin: 0 16.3vw 3.9vw 16.3vw;
  }
  .product-title {
    color: color(dark-gray);
    text-align: center;
    padding: 2.7vw 0;
    font-size: 3.1vw;
    font-weight: 500;
  }
  .product-list {
    display: flex;
    width: 100%;
    height: 42vw;
    padding: 0 2.6vw;
    justify-content: space-between;
    flex-wrap: wrap;
    .product-item {
      position: relative;
      width: 19.6vw;
      color: color(white);
      .product-item-display {
        .product-img {
          object-fit: cover;
          width: 100%;
          height: 16.5vw;
        }
        .product-category {
          text-align: center;
          font-size: 1.2vw;
          font-weight: 300;
          letter-spacing: 1px;
          padding: 1vw 0;
          background: color(dark-gray);
        }
      }
      .product-item-hover {
        position: absolute;
        display: none !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .product-info {
          height: 16.5vw;
          background: color(opacity-75);
          padding: 2.4vw 1.9vw;
          .product-intro {
            font-size: 1.4vw;
            line-height: 1.8vw;
            font-weight: 400;
            padding-bottom: 1vw;
            position: relative;
            &::after {
              content: "";
              bottom: 0;
              left: 0;
              position: absolute;
              border-bottom: 1px solid color(orange);
              width: 3.7vw;
            }
          }
          .product-desc {
            font-size: 0.82vw;
            line-height: 1.2vw;
            font-weight: 300;
            padding-top: 1vw;
          }
        }
        .product-view {
          text-align: center;
          font-size: 1.2vw;
          font-weight: 300;
          letter-spacing: 1px;
          padding: 1vw 0;
          background: color(orange);
        }
      }

      &:hover {
        .product-item-hover {
          display: block !important;
        }
      }
    }
  }
}
@mixin product-Tablet {
}
@mixin product-Tablet-Mobile {
}
@mixin product-Mobile {
  .product {
    margin: 0 0 12.7vw 0;
  }
  .product-title {
    color: color(dark-gray);
    text-align: center;
    padding: 7.9vw 0;
    font-size: 9.8vw;
    font-weight: 500;
  }
  .product-list {
    display: flex;
    width: 100%;
    padding: 0 4.5vw;
    justify-content: space-between;
    flex-wrap: wrap;
    .product-item {
      flex-basis: 48.5%;
      position: relative;
      color: color(white);
      padding-bottom: 2.2vw;
      .product-item-display {
        .product-img {
          object-fit: cover;
          height: 37.1vw;
          width: 100%;
        }
        .product-category {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: 4.6vw;
          font-weight: 300;
          letter-spacing: 1px;
          padding: 1vw 0;
          background: color(dark-gray);
          height: 22.3vw;
        }
      }
      .product-item-hover {
        position: absolute;
        display: none !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .product-info {
          height: 37.1vw;
          background: color(opacity-75);
          padding: 2.4vw 1.9vw;
          .product-intro {
            font-size: 3.4vw;
            line-height: 3.8vw;
            font-weight: 400;
            padding-bottom: 2vw;
            position: relative;
            &::after {
              content: "";
              bottom: 0;
              left: 0;
              position: absolute;
              border-bottom: 1px solid color(orange);
              width: 8.7vw;
            }
          }
          .product-desc {
            font-size: 2.5vw;
            line-height: 2.8vw;
            font-weight: 300;
            padding-top: 2vw;
          }
        }
        .product-view {
          text-align: center;
          font-size: 4.6vw;
          font-weight: 300;
          letter-spacing: 1px;
          padding: 1vw 0;
          background: color(orange);
          line-height: 22.3vw;
          height: 22.3vw;
        }
      }

      &:hover {
        .product-item-hover {
          display: block !important;
        }
      }
    }
  }
}

@mixin product-boostrap-PC {
}
@mixin product-boostrap-PC-Tablet {
  .aboutus-product-list .product-list .product-item {
    width: 32%;
  }
}
@mixin product-boostrap-Tablet {
}
@mixin product-boostrap-Tablet-Mobile {
}
@mixin product-boostrap-Mobile {
  .aboutus-product-list .product-list .product-item .product-img {
    width: 100% !important;
    height: 16.5vw !important;
  }
}
