// global
@import "./main/_variables.scss";
@import "./main/_response.scss";

// common feature
@import "./feature/_header.scss";
@import "./feature/_footer.scss";

// index
@import "./feature/_index.scss";
@import "./feature/index/_promote.scss";
@import "./feature/index/_news.scss";
@import "./feature/index/_category.scss";
@import "./feature/index/_hotvideo.scss";
@import "./feature/index/_expert.scss";
