@import "./features";
@include response(PC) {
}
@include response(PC-Tablet) {
  .service {
    background: url("/images/background/IDAH-web-15.jpg");
    background-size: cover;
  }
  .service-container {
    margin: 0 16.3vw;
    padding: 5.9vw 2.6vw 3.9vw 2.6vw;
    display: flex;
    color: color(dark-gray);
  }
  .service-title-container {
    width: 15vw;
    margin-right: 4.4vw;
    .service-title {
      font-size: 3.1vw;
      font-weight: 500;
      padding-bottom: 0.9vw;
    }
    .service-intro {
      font-size: 0.82vw;
      line-height: 1.2vw;
      font-weight: 400;
    }
  }
  .service-list {
    width: 41.9vw;
    .service-item {
      padding-bottom: 1.7vw;
      .service-topic-container {
        display: flex;
        height: 6.3vw;
        background: color(french-gray);
        align-items: center;
        justify-content: space-between;
        padding: 0 2.2vw 0 1.6vw;
        .service-icon-arrow {
          transition: transform 0.3s;
          background: url("/images/icon/IDAH-web-11.png");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          width: 2vw;
          height: 2vw;
        }
        .service-topic {
          font-size: 1.4vw;
          font-weight: 400;
          flex-grow: 1;
          justify-self: left;
          padding-left: 1vw;
        }
        .service-icon-hand {
          transition: all 0.3s;
          background: url("/images/icon/IDAH-web-12.png");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          width: 4.1vw;
          height: 3.9vw;
        }
        &[data-expanded="true"] {
          background: color(orange);
          .service-icon-arrow {
            background: url("/images/icon/IDAH-web-13.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transform: rotate(90deg);
            width: 2vw;
            height: 2vw;
          }
          .service-topic {
            color: color(white);
          }
          .service-icon-hand {
            background: url("/images/icon/IDAH-web-14.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 4.1vw;
            height: 3.9vw;
          }
        }
      }
      .service-desc-container {
        display: flex;
        background: color(white);
        padding: 2vw;
        justify-content: space-between;
        .service-desc {
          font-size: 0.82vw;
          line-height: 1.2vw;
          font-weight: 400;
          width: 23.7vw;
          padding-bottom: 0.8vw;
        }
        .service-btn-read-more {
          align-self: flex-end;
          font-size: 1.05vw;
          border: 1px solid color(dark-gray);
          height: 2.6vw;
          line-height: 2.6vw;
          padding: 0 1.7vw;
        }
      }
    }
  }
}
@include response(Tablet) {
}
@include response(Tablet-Mobile) {
}
@include response(Mobile) {
  .service {
    background: color(athens-gray);
    background-size: cover;
  }
  .service-container {
    padding: 10vw 4.5vw;
    color: color(dark-gray);
  }
  .service-title-container {
    padding-bottom: 7vw;
    .service-title {
      font-size: 9.8vw;
      font-weight: 500;
      padding-bottom: 0.9vw;
    }
    .service-intro {
      font-size: 4.3vw;
      line-height: 5.5vw;
      font-weight: 400;
    }
  }
  .service-list {
    .service-item {
      padding-bottom: 2.2vw;
      .service-topic-container {
        display: flex;
        height: 17.3vw;
        background: color(french-gray);
        align-items: center;
        justify-content: space-between;
        padding: 0 7.6vw;
        .service-icon-arrow {
          transition: transform 0.3s;
          background: url("/images/icon/IDAH-web-11.png");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          width: 6.6vw;
          height: 6.6vw;
        }
        .service-topic {
          font-size: 6.3vw;
          font-weight: 400;
          flex-grow: 1;
          justify-self: left;
          padding: 0 7vw 0 2.6vw;
        }
        .service-icon-hand {
          transition: all 0.3s;
          background: url("/images/icon/IDAH-web-12.png");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          width: 12.4vw;
          height: 11.9vw;
        }
        &[data-expanded="true"] {
          background: color(orange);
          .service-icon-arrow {
            background: url("/images/icon/IDAH-web-13.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transform: rotate(90deg);
            width: 6.6vw;
            height: 6.6vw;
          }
          .service-topic {
            color: color(white);
          }
          .service-icon-hand {
            background: url("/images/icon/IDAH-web-14.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 12.4vw;
            height: 11.9vw;
          }
        }
      }
      .service-desc-container {
        background: color(white);
        padding: 5.5vw 6vw 6vw 6vw;
        display: flex;
        flex-direction: column;
        .service-desc {
          font-size: 4.3vw;
          line-height: 5.5vw;
          font-weight: 400;
          padding: 0 6vw 12vw 0;
        }
        .service-btn-read-more {
          font-size: 4.3vw;
          border: 1px solid color(dark-gray);
          height: 10.6vw;
          line-height: 10.6vw;
          width: 35vw;
          text-align: center;
          align-self: flex-end;
        }
      }
    }
  }
}
